@font-face {
    font-family: "ExtendedFont"; 
    src: url("../fonts/ExtendedFont.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'ExtendedFont', sans-serif;
}


body {
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    border-bottom: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    backdrop-filter: blur(3px);
}


#logInOrReg {
    width: 20%;
    display: flex;
}
#logInOrReg a {
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    transition: all 0.3s;
    color: white;
}
#logInOrReg a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#logo a {
    color: white;
    font-size: 30px;
}
#logo a img:hover {
    height: 100px;
    transition: all 0.3s;
}
#logo a img {
    height: 80px;
    transition: all 0.3s;
}
#header__rightWrap {
    width: 20%;
}
#languageWrap {
    min-width: 40px;
    text-align: end;
    width: 60px;
    position: relative;
}
#header__rightWrap {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#dropbtn {
    display: inline;
    padding: 10px;
    border: 1px solid #1396cb;
    cursor: pointer;
    font-size: 16px;
}
#language {
    width: 60px;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}
#language:hover #dropdown-content {
    display: block;
    transition: all 0.5s;
}
#language button {
    background-color: transparent;
    outline: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    margin: 0 auto;
    display: block;
}
#dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    transition: all 0.5s;
    width: 60px;
}
#dropdown-content button {
    display: block;
    margin: auto;
}

#jackpot {
    width: 100%;
}
#jackpotImg {
    display: block;
    width: 50%;
    margin: 0 auto;
}
#jackpotMoney {
    display: block;
    min-width: 160px;
    width: 40%;
    max-width: 700px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    border-top: none;
    font-size: 46px;
    padding: 12px 5% 0 5%;
    background-image: url("../imgs/jackpotUnder.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

@keyframes numGolo {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.4;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0.75;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.75;
    }
    80% {
        opacity: 1;
    }
    60% {
        opacity: 0.75;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes numGoloAnother {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.4;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0.75;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.75;
    }
    80% {
        opacity: 1;
    }
    60% {
        opacity: 0.75;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#gamesSection {
    padding: 0 5%;
}
#gamesSection label {
    display: block;
    margin-top: 20px;
    margin-left: calc(1.75%);
    font-size: 24px;
}
#gamesSection label input {
    padding: 5px 5px 5px 20px;
    background-color: transparent;
    border: 1px solid #1396cb;
    outline: none;
    color: white;
    font-size: 24px;
    width: 400px;
    box-shadow: 0 0 7px 1px #1396cb;
    backdrop-filter: blur(2px);
}
#gamesSection label input:focus {
    border: 1px solid blue;
}
#gamesSection__div {
    display: grid;
    grid-template: 200px 200px / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
}
#gamesSection__div a {
    width: 90%;
    height: 100%;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    transition: all 0.3s;
    display: block;
    backdrop-filter: blur(2px);
}
#gamesSection__div a:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}


#login, #registration {
    width: 40%;
    margin: 120px auto 60px auto;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(3px);
    position: relative;
}
#login h2, #registration h2 {
    margin-top: 20px;
    font-size: 40px;
}
#login input, #registration input {
    display: block;
    outline: none;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    background-color: transparent;
    color: white;
    padding: 10px;
    margin: 40px auto;
    width: 70%;
}
.loginProblems {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: inline;
    color: white;
}
.loginProblems:hover {
    text-decoration: underline;
}
#deposit {
    width: 20%;
    display: flex;
    align-items: center;
}
#deposit__ava img {
    display: block;
    border-radius: 50%;
}
#deposit a {
    display: block;
    margin-right: 5px;
}
#deposit a img {
    height: 40px;
    transition: all 0.3s;
}
#deposit a img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#deposit a:nth-child(1) img {
    height: 60px;
}
#wallet {
    min-width: 115px;
    height: 39px;
    margin: 0 10px;
    color: white;
    padding: 10px;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    font-size: 14px;
    display: flex;
    align-items: center;
}
#wallet img {
    margin-left: 7px;
}
#moneyAdding {
    height: 39px;
    color: white;
    padding: 10px;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    transition: all 0.3s;
    cursor: pointer;
    display: block;
}
#moneyAdding:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#deposit h3 {
    font-size: 14px;
}
#wallet__casinoCoin {
    height: 20px;
}
#regBtn {
    min-width: 206px;
}
#logBtn {
    min-width: 80px;
}
#logBtn , #regBtn{
    display: block;
    margin: 30px auto;
    width: 30%;
    padding: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    color: white;
    transition: all 0.3s;
}
#logBtn:hover, #regBtn:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#login h3, #registration h3 {
    position: absolute;
    font-size: 12px;
    color: rgb(211, 17, 17);
    transform: translateY(-32px);
    left: calc(15% + 20px);
    visibility: hidden;
    font-style: italic;
}
#logout {
    margin-left: 15px;
}
#logout img {
    width: 40px;
    height: 50px;
}

#settingWrap {
    height: 50px;
    margin: 0 15px 0 auto;
}
#settingWrap:hover #setting {
    transform: rotate(360deg);
    transition: all 1s;
}
#setting {
    height: 50px;
    transition: all 1s;
}
#setting-droprown {
    position: relative;
    opacity: 0;
    padding-top: 10px;
    transition: all 0.4s;
}
#setting-droprown div, #setting-droprown a {
    display: flex;
    align-items: center;
    color: white;
}
#setting-droprown img {
    height: 50px;
    border: none;
    border-radius: 50%;
    margin: 5px 0;
}
#setting-droprown__ava:hover + h3 {
    opacity: 1;
    transition: all 0.3s;
    transform: translateX(15px);
}
#setting-droprown__wallet:hover + h3 {
    opacity: 1;
    transition: all 0.3s;
    transform: translateX(0);
}
#setting-droprown__help:hover + h3 {
    opacity: 1;
    transition: all 0.3s;
    transform: translateX(-5px);
}
#setting-droprown h3 {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    text-align: end;
    right: -90px;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(30px);
}

#backToMenu {
    display: block;
    position: absolute;
    left: 5%;
    top: 30px;
    z-index: 3;
}
#backToMenu img {
    width: 140px;
    transition: all 0.3s;
}
#backToMenu img:hover {
    width: 160px;
    transition: all 0.3s;
}
#game_1_window {
    height: 90vh;
}
#game_1_window, #walletNExchanger {
    width: 90%;
    margin: 40px auto 0 auto;
    border: 1px solid #1396cb;
    box-shadow: 0 0 7px 1px #1396cb;
    backdrop-filter: blur(2px);
}

#walletNExchanger__wallet {
    width: 100%;
    padding: 0 5%;
}
#walletNExchanger {
    display: grid;
    grid-template: 50% 50% / 4fr 6fr;
    justify-items: center;
    align-items: center;
    padding: 15px 0;
}
#walletNExchanger__logo {
    position: absolute;
    top: 20px;
    width: 100%;
}
#walletNExchanger__logo a {
    width: 100px;
    margin: auto;
    display: block;
    transition: all 0.3s;
}
#walletNExchanger__logo a img {
    width: 100px;
}
#walletNExchanger__logo a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#walletNExchanger__wallet__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 5px 0 50px auto;
    float: left;
    border-radius: 15px;
    box-shadow: 0 0 7px 1px #1396cb;
}
#walletNExchanger__wallet__wrap__wallet {
    height: 35px;
    margin-right: 10px;
}
#walletNExchanger__wallet__wrap__refresh {
    height: 20px;
    transform: translate(10px, 15px);
    transition: all 1s;
}
#walletNExchanger__wallet__wrap__deposit {
    margin-left: 10px;
    height: 35px;
    transition: all 0.3s;
}
#walletNExchanger__wallet__wrap:hover #walletNExchanger__wallet__wrap__deposit {
    transform: scale(1.1);
    transition: all 0.3s;
}
#mainCoins div, #casinoCoin {
    width: 50%;
    box-shadow: 0 0 7px 1px #1396cb;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainCoins div img {
    transition: all 0.3s;
}
#mainCoins div:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}
#mainCoins img {
    height: 25px;
}
#casinoCoin {
    width: 70%;
}
#casinoCoin {
    height: 80px;
}
#casinoCoin img {
    height: 60px;
}
#walletNExchanger h2 {
    font-size: 40px;
}

#walletNExchanger__exchanger {
    width: 100%;
    display: grid;
    grid-template: 70px auto / 1fr 3fr 1fr;
    grid-template-areas: 
        'Exchanger__text Exchanger__text Exchanger__text'
        'Exchanger__coin1 Exchanger__swaper Exchanger__coin2';
    padding: 0 5%;
}
#walletNExchanger__exchanger__setting {
    position: absolute;
    right: 30px;
    top: 40px;
    transition: all 1s;
}
#walletNExchanger__exchanger__setting a {
    display: inline-block;
    margin-right: 10px;
}
#walletNExchanger__exchanger__setting__currentPrice:hover, #walletNExchanger__exchanger__setting__deposit:hover, #walletNExchanger__exchanger__setting__withdraw:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#walletNExchanger__exchanger__setting__currentPrice, #walletNExchanger__exchanger__setting__deposit, #walletNExchanger__exchanger__setting__withdraw {
    transition: all 0.3s;
}
#walletNExchanger__exchanger__setting__currentPrice__h3, #walletNExchanger__exchanger__setting__deposit__h3, #walletNExchanger__exchanger__setting__withdraw__h3 {
    color: white;
    position: absolute;
    top: -45px;
    opacity: 0;
    transition: all 0.3s;
    font-size: 16px;
}
#walletNExchanger__exchanger__setting__deposit__h3 {
    left: -20px;
    opacity: 0;
}
#walletNExchanger__exchanger__setting__withdraw__h3 {
    left: -15px;
    opacity: 0;
}
#walletNExchanger__exchanger__setting__currentPrice:hover #walletNExchanger__exchanger__setting__currentPrice__h3, #walletNExchanger__exchanger__setting__deposit:hover #walletNExchanger__exchanger__setting__deposit__h3, #walletNExchanger__exchanger__setting__withdraw:hover #walletNExchanger__exchanger__setting__withdraw__h3 {
    opacity: 1;
    top: -20px;
    transition: all 0.3s;
}
#walletNExchanger__exchanger__textWrap {
    grid-area: Exchanger__text;
}
#coinPickerWrap__1 {
    grid-area: Exchanger__coin1;
}
#walletNExchanger__exchanger__resultWrap {
    grid-area: Exchanger__swaper;
}
#coinPickerWrap__2 {
    grid-area: Exchanger__coin2;
}

#coinPickerWrap__1 button, #coinPickerWrap__2 button {
    margin: 10px 0;
}
#walletNExchanger__exchanger__resultWrap button {
    width: 60%;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: 0 0 7px 1px #1396cb;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 15px;
    transition: all 0.3s;
    font-size: 20px;
    margin-top: 10px;
}




#coinPickerWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#walletNExchanger__exchanger select {
    width: 30%;
    background-color: transparent;
    box-shadow: 0 0 7px 1px #1396cb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
}
#walletNExchanger__exchanger input {
    width: 30%;
    background-color: transparent;
    box-shadow: 0 0 7px 1px #1396cb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
}
#walletNExchanger__exchanger__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 163px;
}
#coinsResult {
    width: 30%;
    height: 36px;
    background-color: transparent;
    box-shadow: 0 0 7px 1px #1396cb;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 15px;
}
#coinPickerWrap__1 button, #coinPickerWrap__2 button {
    display: block;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 0 7px 1px #1396cb;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 15px;
    transition: all 0.3s;
    font-size: 20px;
    outline: none;
}
#walletNExchanger__exchanger button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#walletNExchanger__exchanger__textWrap {
    width: 100%;
    text-align: center;
}
#walletNExchanger__exchanger img {
    height: 38px;
}
#logoCabinet {
    width: 100%;
}
#logoCabinet a {
    display: block;
    width: 112.05px;
    height: 75px;
    margin: 20px auto 0 auto;
    transition: all 0.3s;
}
#logoCabinet a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
#logoCabinet a img {
    height: 75px;
}
#cabinetInfo {
    padding: 20px 5%;
}
#cabinetInfo h2 {
    margin-left: 30px;
}
#cabinetInfo__photoAndName {
    display: flex;
    align-items: center;
}
#cabinetInfo__photoAndName img {
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
}
#cabinetInfo__photoAndName h2 {
    border: 3px solid white;
    padding: 10px;
    border-radius: 20px;
    font-size: 38px;
}
#cabinetInfo__photoAndName__photo {
    text-align: center;
}
#cabinetInfo__photoAndName__photo h4 {
    font-weight: 400;
    cursor: pointer;
}
#cabinetInfo__photoAndName__photo h4:hover {
    text-decoration: underline;
}
#cabinetInfo__photoAndName__name {
    position: relative;
}
#pencil {
    position: absolute;
    height: 30px;
    right: -30px;
    top: -20px;
}
#cabinetInfo__line {
    width: 100%;
    margin: 30px auto;
    height: 2px;
    background-color: white;
}
#personalAccountInfo h3 {
    margin-bottom: 30px;
}
#personalAccountInfo h4 {
    margin-bottom: 15px;
}
#cabinetInfo__security h3 {
    margin-bottom: 30px;
}
#cabinetInfo__security h4 {
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    #gamesSection__div {
        grid-template: 200px 200px 200px/ 1fr 1fr;
    }
}
@media (max-width: 550px) {
    #logo a {
        font-size: 26px;
    }
}